<a href="https://colab.research.google.com/github/ezraakankwasa/Story/blob/master/california_house_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d camnugent/california-housing-prices

Downloading california-housing-prices.zip to /content
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 104MB/s]

In [4]:
!unzip california-housing-prices.zip

Archive:  california-housing-prices.zip
  inflating: housing.csv

In [5]:
import pandas as pd

housing_pd = pd.read_csv('housing.csv')
housing_pd.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
#get ocean promixity column
housing_pd['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [8]:
#shuffling the dataset
housing_pd_shuffled = housing_pd.sample(n=len(housing_pd), random_state=1)
housing_pd_shuffled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,205300.0,<1H OCEAN
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,<1H OCEAN
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,<1H OCEAN
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,140700.0,INLAND
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,126000.0,NEAR BAY

In [9]:
#using dummy variables
pd.get_dummies(housing_pd_shuffled['ocean_proximity']).head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
4712           1       0       0         0           0
2151           0       1       0         0           0
15927          0       0       0         1           0
82             0       0       0         1           0
8161           1       0       0         0           0

In [10]:
#dropping ocean proximity
housing_pd_shuffled.drop('ocean_proximity', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0

In [11]:
#dataframe with replaced proximity values
housing_pd_final = pd.concat([housing_pd_shuffled.drop('ocean_proximity', axis=1),
                             pd.get_dummies(housing_pd_shuffled['ocean_proximity'])], axis=1)
housing_pd_final

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,1,0,0,0,0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,0,1,0,0,0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,0,0,0,1,0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,0,0,0,1,0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,205300.0,1,0,0,0,0
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,1,0,0,0,0
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,1,0,0,0,0
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,140700.0,0,1,0,0,0
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,126000.0,0,0,0,1,0

In [12]:
housing_pd_final = housing_pd_final[["longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","<1H OCEAN","INLAND","ISLAND","NEAR BAY","NEAR OCEAN","median_house_value"]]
housing_pd_final

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,1,0,0,0,0,355000.0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,0,1,0,0,0,70700.0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,0,0,0,1,0,229400.0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,0,0,0,1,0,112500.0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,1,0,0,0,0,225400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,1,0,0,0,0,205300.0
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,1,0,0,0,0,500001.0
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,1,0,0,0,0,104800.0
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,0,1,0,0,0,140700.0
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,0,0,0,1,0,126000.0

In [13]:
#dealing with rows with null values
housing_pd_final = housing_pd_final.dropna()
len(housing_pd_final)

20433

In [14]:
#splitting the dataset
train_pd, test_pd, val_pd = housing_pd_final[:18000],housing_pd_final[18000:19217],housing_pd_final[19215:]
len(train_pd), len(test_pd), len(val_pd)

(18000, 1217, 1218)

In [15]:
#turning the data into matrixes and vectors
#the output is turned into a vector and the other columns into matrixes
X_train, y_train = train_pd.to_numpy()[:,:-1], train_pd.to_numpy()[:, -1]
X_val, y_val = val_pd.to_numpy()[:,:-1], val_pd.to_numpy()[:, -1]
X_test, y_test = test_pd.to_numpy()[:,:-1], test_pd.to_numpy()[:, -1]

X_train.shape, y_train.shape,X_val.shape, y_val.shape,X_test.shape, y_test.shape

((18000, 13), (18000,), (1218, 13), (1218,), (1217, 13), (1217,))

In [16]:
#before training the date we are going to transform the data
from sklearn.preprocessing import StandardScaler
import numpy as np

scaler = StandardScaler().fit(X_train[:, :8])

def preprocessor(X):
    A = np.copy(X)
    A[:, :8] = scaler.transform(A[:, :8])
    return A

X_train, X_val, X_test = preprocessor(X_train),preprocessor(X_val),preprocessor(X_test),
X_train.shape, X_val.shape, X_test.shape

((18000, 13), (1218, 13), (1217, 13))

In [19]:
#Making models using the MSE
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LinearRegression

#trainig error and val error
lm = LinearRegression().fit(X_train, y_train)
mse(lm.predict(X_train), y_train, squared=False), mse(lm.predict(X_val), y_val, squared=False)

(68593.05578127236, 71382.43558330165)

In [20]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=10).fit(X_train, y_train)
mse(knn.predict(X_train), y_train, squared=False), mse(knn.predict(X_val), y_val, squared=False)

(53759.09908812057, 62161.22860469906)

In [21]:
#random forest ensemble
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(max_depth=10).fit(X_train, y_train)
mse(rfr.predict(X_train), y_train, squared=False), mse(rfr.predict(X_val), y_val, squared=False)

(43517.46328395902, 53477.41086614162)

In [22]:
#Gradient boosting
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=250).fit(X_train, y_train)
mse(gbr.predict(X_train), y_train, squared=False), mse(gbr.predict(X_val), y_val, squared=False)

(47274.82259072158, 51221.61327505935)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

simple_nn = Sequential()
simple_nn.add(InputLayer((13,)))
simple_nn.add(Dense(2, 'relu'))
simple_nn.add(Dense(1, 'linear'))

opt = Adam(learning_rate=0.1)
cp = ModelCheckpoint('models/simple_nn', save_best_only=True)
simple_nn.compile(optimizer=opt,loss='mse', metrics=[RootMeanSquaredError()])
simple_nn.fit(x=X_train, y=y_train, validation_data=(X_val, y_val), callbacks=[cp], epochs=100)

In [25]:
from tensorflow.keras.models import load_model

simple_nn = load_model('models/simple_nn')
mse(simple_nn.predict(X_train), y_train, squared=False), mse(simple_nn.predict(X_val), y_val, squared=False)

(66975.13689616414, 70586.72380931803)

In [26]:
medium_nn = Sequential()
medium_nn.add(InputLayer((13,)))
medium_nn.add(Dense(32, 'relu'))
medium_nn.add(Dense(16, 'relu'))
medium_nn.add(Dense(1, 'linear'))

opt = Adam(learning_rate=0.1)
cp = ModelCheckpoint('models/medium_nn', save_best_only=True)
medium_nn.compile(optimizer=opt,loss='mse', metrics=[RootMeanSquaredError()])
medium_nn.fit(x=X_train, y=y_train, validation_data=(X_val, y_val), callbacks=[cp], epochs=100)

Epoch 1/100
542/563 [===========================>..] - ETA: 0s - loss: 9031244800.0000 - root_mean_squared_error: 95032.8594INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 8853249024.0000 - root_mean_squared_error: 94091.7031 - val_loss: 4862515712.0000 - val_root_mean_squared_error: 69731.7422
Epoch 2/100
541/563 [===========================>..] - ETA: 0s - loss: 4488659968.0000 - root_mean_squared_error: 66997.4609INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4488407552.0000 - root_mean_squared_error: 66995.5781 - val_loss: 4666847232.0000 - val_root_mean_squared_error: 68314.3281
Epoch 3/100
549/563 [============================>.] - ETA: 0s - loss: 4392870912.0000 - root_mean_squared_error: 66278.7344INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4404915200.0000 - root_mean_squared_error: 66369.5391 - val_loss: 4626019328.0000 - val_root_mean_squared_error: 68014.8438
Epoch 4/100
531/563 [===========================>..] - ETA: 0s - loss: 4331389952.0000 - root_mean_squared_error: 65813.2969INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4297327616.0000 - root_mean_squared_error: 65554.0078 - val_loss: 4458503680.0000 - val_root_mean_squared_error: 66772.0312
Epoch 5/100
563/563 [==============================] - 1s 2ms/step - loss: 4267948544.0000 - root_mean_squared_error: 65329.5391 - val_loss: 4644197888.0000 - val_root_mean_squared_error: 68148.3516
Epoch 6/100
563/563 [==============================] - 1s 2ms/step - loss: 4205056256.0000 - root_mean_squared_error: 64846.4062 - val_loss: 4614742016.0000 - val_root_mean_squared_error: 67931.8906
Epoch 7/100
563/563 [==============================] - ETA: 0s - loss: 4173634816.0000 - root_mean_squared_error: 64603.6758INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4173634816.0000 - root_mean_squared_error: 64603.6758 - val_loss: 4369532928.0000 - val_root_mean_squared_error: 66102.4453
Epoch 8/100
533/563 [===========================>..] - ETA: 0s - loss: 4162987264.0000 - root_mean_squared_error: 64521.2148INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4147289600.0000 - root_mean_squared_error: 64399.4531 - val_loss: 4321499648.0000 - val_root_mean_squared_error: 65738.1172
Epoch 9/100
563/563 [==============================] - 1s 2ms/step - loss: 4129712128.0000 - root_mean_squared_error: 64262.8359 - val_loss: 4354648576.0000 - val_root_mean_squared_error: 65989.7578
Epoch 10/100
563/563 [==============================] - 1s 2ms/step - loss: 4111192576.0000 - root_mean_squared_error: 64118.5820 - val_loss: 4437111808.0000 - val_root_mean_squared_error: 66611.6484
Epoch 11/100
557/563 [============================>.] - ETA: 0s - loss: 4080938240.0000 - root_mean_squared_error: 63882.2227INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4082059776.0000 - root_mean_squared_error: 63891.0000 - val_loss: 4292040704.0000 - val_root_mean_squared_error: 65513.6680
Epoch 12/100
563/563 [==============================] - 1s 2ms/step - loss: 4051365376.0000 - root_mean_squared_error: 63650.3359 - val_loss: 4341516288.0000 - val_root_mean_squared_error: 65890.1797
Epoch 13/100
563/563 [==============================] - 1s 2ms/step - loss: 4074902016.0000 - root_mean_squared_error: 63834.9609 - val_loss: 4338785792.0000 - val_root_mean_squared_error: 65869.4609
Epoch 14/100
563/563 [==============================] - 1s 2ms/step - loss: 4059665920.0000 - root_mean_squared_error: 63715.5078 - val_loss: 4392538624.0000 - val_root_mean_squared_error: 66276.2266
Epoch 15/100
554/563 [============================>.] - ETA: 0s - loss: 4044309248.0000 - root_mean_squared_error: 63594.8828INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4051395328.0000 - root_mean_squared_error: 63650.5703 - val_loss: 4275300864.0000 - val_root_mean_squared_error: 65385.7852
Epoch 16/100
563/563 [==============================] - 1s 2ms/step - loss: 4039310080.0000 - root_mean_squared_error: 63555.5664 - val_loss: 4354718720.0000 - val_root_mean_squared_error: 65990.2891
Epoch 17/100
538/563 [===========================>..] - ETA: 0s - loss: 4043559424.0000 - root_mean_squared_error: 63588.9883INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 4023332864.0000 - root_mean_squared_error: 63429.7461 - val_loss: 4260455936.0000 - val_root_mean_squared_error: 65272.1680
Epoch 18/100
563/563 [==============================] - 1s 2ms/step - loss: 3950495744.0000 - root_mean_squared_error: 62852.9688 - val_loss: 4464717824.0000 - val_root_mean_squared_error: 66818.5469
Epoch 19/100
533/563 [===========================>..] - ETA: 0s - loss: 3839725824.0000 - root_mean_squared_error: 61965.5195INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3848899840.0000 - root_mean_squared_error: 62039.5039 - val_loss: 4145890048.0000 - val_root_mean_squared_error: 64388.5859
Epoch 20/100
563/563 [==============================] - 1s 2ms/step - loss: 3857401344.0000 - root_mean_squared_error: 62107.9805 - val_loss: 4209181696.0000 - val_root_mean_squared_error: 64878.2070
Epoch 21/100
537/563 [===========================>..] - ETA: 0s - loss: 3817081600.0000 - root_mean_squared_error: 61782.5352INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3829658880.0000 - root_mean_squared_error: 61884.2383 - val_loss: 4144608000.0000 - val_root_mean_squared_error: 64378.6289
Epoch 22/100
563/563 [==============================] - 1s 2ms/step - loss: 3833818112.0000 - root_mean_squared_error: 61917.8320 - val_loss: 4430683136.0000 - val_root_mean_squared_error: 66563.3750
Epoch 23/100
544/563 [===========================>..] - ETA: 0s - loss: 3808084736.0000 - root_mean_squared_error: 61709.6797INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3800508928.0000 - root_mean_squared_error: 61648.2695 - val_loss: 4128216064.0000 - val_root_mean_squared_error: 64251.1953
Epoch 24/100
563/563 [==============================] - 1s 2ms/step - loss: 3806194176.0000 - root_mean_squared_error: 61694.3594 - val_loss: 4166555136.0000 - val_root_mean_squared_error: 64548.8594
Epoch 25/100
563/563 [==============================] - 1s 2ms/step - loss: 3786153728.0000 - root_mean_squared_error: 61531.7305 - val_loss: 4209008128.0000 - val_root_mean_squared_error: 64876.8672
Epoch 26/100
563/563 [==============================] - 1s 2ms/step - loss: 3811219456.0000 - root_mean_squared_error: 61735.0742 - val_loss: 4163071744.0000 - val_root_mean_squared_error: 64521.8711
Epoch 27/100
563/563 [==============================] - 1s 2ms/step - loss: 3737971456.0000 - root_mean_squared_error: 61138.9531 - val_loss: 4287997952.0000 - val_root_mean_squared_error: 65482.8047
Epoch 28/100
555/563 [============================>.] - ETA: 0s - loss: 3653667584.0000 - root_mean_squared_error: 60445.5742INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3647283712.0000 - root_mean_squared_error: 60392.7461 - val_loss: 3997758464.0000 - val_root_mean_squared_error: 63227.8281
Epoch 29/100
563/563 [==============================] - 1s 2ms/step - loss: 3557307392.0000 - root_mean_squared_error: 59643.1680 - val_loss: 4019575808.0000 - val_root_mean_squared_error: 63400.1250
Epoch 30/100
540/563 [===========================>..] - ETA: 0s - loss: 3553498112.0000 - root_mean_squared_error: 59611.2266INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3544604928.0000 - root_mean_squared_error: 59536.5859 - val_loss: 3865746432.0000 - val_root_mean_squared_error: 62175.1289
Epoch 31/100
563/563 [==============================] - 1s 2ms/step - loss: 3518814464.0000 - root_mean_squared_error: 59319.5977 - val_loss: 3906038528.0000 - val_root_mean_squared_error: 62498.3086
Epoch 32/100
560/563 [============================>.] - ETA: 0s - loss: 3464475392.0000 - root_mean_squared_error: 58859.7930INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3466578944.0000 - root_mean_squared_error: 58877.6602 - val_loss: 3808099584.0000 - val_root_mean_squared_error: 61709.8008
Epoch 33/100
549/563 [============================>.] - ETA: 0s - loss: 3445962240.0000 - root_mean_squared_error: 58702.3203INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3436424192.0000 - root_mean_squared_error: 58621.0234 - val_loss: 3790147328.0000 - val_root_mean_squared_error: 61564.1719
Epoch 34/100
563/563 [==============================] - 1s 2ms/step - loss: 3444912640.0000 - root_mean_squared_error: 58693.3789 - val_loss: 3872272896.0000 - val_root_mean_squared_error: 62227.5898
Epoch 35/100
563/563 [==============================] - 1s 2ms/step - loss: 3414030336.0000 - root_mean_squared_error: 58429.7031 - val_loss: 3792176896.0000 - val_root_mean_squared_error: 61580.6523
Epoch 36/100
563/563 [==============================] - 1s 2ms/step - loss: 3409837824.0000 - root_mean_squared_error: 58393.8164 - val_loss: 3796765952.0000 - val_root_mean_squared_error: 61617.9023
Epoch 37/100
563/563 [==============================] - 1s 2ms/step - loss: 3384108800.0000 - root_mean_squared_error: 58173.0938 - val_loss: 3920405760.0000 - val_root_mean_squared_error: 62613.1445
Epoch 38/100
563/563 [==============================] - 1s 2ms/step - loss: 3390242048.0000 - root_mean_squared_error: 58225.7852 - val_loss: 3843383040.0000 - val_root_mean_squared_error: 61995.0234
Epoch 39/100
531/563 [===========================>..] - ETA: 0s - loss: 3359026688.0000 - root_mean_squared_error: 57957.1094INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3368984832.0000 - root_mean_squared_error: 58042.9570 - val_loss: 3730802944.0000 - val_root_mean_squared_error: 61080.3008
Epoch 40/100
563/563 [==============================] - 1s 2ms/step - loss: 3349045504.0000 - root_mean_squared_error: 57870.9375 - val_loss: 3863577344.0000 - val_root_mean_squared_error: 62157.6797
Epoch 41/100
551/563 [============================>.] - ETA: 0s - loss: 3354468352.0000 - root_mean_squared_error: 57917.7734INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3347931648.0000 - root_mean_squared_error: 57861.3125 - val_loss: 3659745024.0000 - val_root_mean_squared_error: 60495.8281
Epoch 42/100
563/563 [==============================] - 1s 2ms/step - loss: 3344100608.0000 - root_mean_squared_error: 57828.1992 - val_loss: 3688982528.0000 - val_root_mean_squared_error: 60736.9961
Epoch 43/100
563/563 [==============================] - 1s 2ms/step - loss: 3335995136.0000 - root_mean_squared_error: 57758.0742 - val_loss: 3662011904.0000 - val_root_mean_squared_error: 60514.5586
Epoch 44/100
563/563 [==============================] - 1s 2ms/step - loss: 3328350976.0000 - root_mean_squared_error: 57691.8633 - val_loss: 3951752448.0000 - val_root_mean_squared_error: 62862.9648
Epoch 45/100
563/563 [==============================] - 1s 2ms/step - loss: 3310666752.0000 - root_mean_squared_error: 57538.3945 - val_loss: 3899034368.0000 - val_root_mean_squared_error: 62442.2500
Epoch 46/100
563/563 [==============================] - 1s 2ms/step - loss: 3286056960.0000 - root_mean_squared_error: 57324.1406 - val_loss: 3712435200.0000 - val_root_mean_squared_error: 60929.7578
Epoch 47/100
563/563 [==============================] - 1s 2ms/step - loss: 3280195072.0000 - root_mean_squared_error: 57272.9883 - val_loss: 3771437312.0000 - val_root_mean_squared_error: 61412.0273
Epoch 48/100
562/563 [============================>.] - ETA: 0s - loss: 3267825920.0000 - root_mean_squared_error: 57164.9023INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3266349568.0000 - root_mean_squared_error: 57151.9883 - val_loss: 3591181056.0000 - val_root_mean_squared_error: 59926.4648
Epoch 49/100
563/563 [==============================] - 1s 2ms/step - loss: 3271503104.0000 - root_mean_squared_error: 57197.0547 - val_loss: 3825871616.0000 - val_root_mean_squared_error: 61853.6289
Epoch 50/100
542/563 [===========================>..] - ETA: 0s - loss: 3255473664.0000 - root_mean_squared_error: 57056.7578INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3255921920.0000 - root_mean_squared_error: 57060.6875 - val_loss: 3566870528.0000 - val_root_mean_squared_error: 59723.2812
Epoch 51/100
563/563 [==============================] - 1s 2ms/step - loss: 3252359680.0000 - root_mean_squared_error: 57029.4648 - val_loss: 3605629696.0000 - val_root_mean_squared_error: 60046.8945
Epoch 52/100
563/563 [==============================] - 1s 2ms/step - loss: 3212781312.0000 - root_mean_squared_error: 56681.4023 - val_loss: 3646415360.0000 - val_root_mean_squared_error: 60385.5547
Epoch 53/100
563/563 [==============================] - 1s 2ms/step - loss: 3212313856.0000 - root_mean_squared_error: 56677.2773 - val_loss: 3722528256.0000 - val_root_mean_squared_error: 61012.5273
Epoch 54/100
563/563 [==============================] - 1s 2ms/step - loss: 3190117120.0000 - root_mean_squared_error: 56481.1211 - val_loss: 3582138368.0000 - val_root_mean_squared_error: 59850.9688
Epoch 55/100
563/563 [==============================] - 1s 2ms/step - loss: 3179184896.0000 - root_mean_squared_error: 56384.2617 - val_loss: 3693946112.0000 - val_root_mean_squared_error: 60777.8438
Epoch 56/100
560/563 [============================>.] - ETA: 0s - loss: 3167106560.0000 - root_mean_squared_error: 56277.0508INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 4ms/step - loss: 3166205696.0000 - root_mean_squared_error: 56269.0469 - val_loss: 3514195456.0000 - val_root_mean_squared_error: 59280.6484
Epoch 57/100
563/563 [==============================] - 1s 2ms/step - loss: 3164697088.0000 - root_mean_squared_error: 56255.6406 - val_loss: 3600134912.0000 - val_root_mean_squared_error: 60001.1250
Epoch 58/100
563/563 [==============================] - 1s 2ms/step - loss: 3139951360.0000 - root_mean_squared_error: 56035.2695 - val_loss: 3562501120.0000 - val_root_mean_squared_error: 59686.6914
Epoch 59/100
540/563 [===========================>..] - ETA: 0s - loss: 3070118144.0000 - root_mean_squared_error: 55408.6484INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3108509696.0000 - root_mean_squared_error: 55754.0117 - val_loss: 3457369344.0000 - val_root_mean_squared_error: 58799.3984
Epoch 60/100
563/563 [==============================] - 1s 2ms/step - loss: 3103141376.0000 - root_mean_squared_error: 55705.8477 - val_loss: 3786766080.0000 - val_root_mean_squared_error: 61536.7070
Epoch 61/100
563/563 [==============================] - 1s 2ms/step - loss: 3084618496.0000 - root_mean_squared_error: 55539.3438 - val_loss: 3591403008.0000 - val_root_mean_squared_error: 59928.3164
Epoch 62/100
551/563 [============================>.] - ETA: 0s - loss: 3095329280.0000 - root_mean_squared_error: 55635.6836INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3094912256.0000 - root_mean_squared_error: 55631.9375 - val_loss: 3428621056.0000 - val_root_mean_squared_error: 58554.4297
Epoch 63/100
563/563 [==============================] - 1s 2ms/step - loss: 3062157824.0000 - root_mean_squared_error: 55336.7656 - val_loss: 3476861696.0000 - val_root_mean_squared_error: 58964.9180
Epoch 64/100
563/563 [==============================] - 1s 2ms/step - loss: 3047961344.0000 - root_mean_squared_error: 55208.3438 - val_loss: 3583043840.0000 - val_root_mean_squared_error: 59858.5312
Epoch 65/100
563/563 [==============================] - 1s 2ms/step - loss: 3036498432.0000 - root_mean_squared_error: 55104.4336 - val_loss: 3466651136.0000 - val_root_mean_squared_error: 58878.2734
Epoch 66/100
550/563 [============================>.] - ETA: 0s - loss: 3006410240.0000 - root_mean_squared_error: 54830.7422INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3017590784.0000 - root_mean_squared_error: 54932.6016 - val_loss: 3419917312.0000 - val_root_mean_squared_error: 58480.0586
Epoch 67/100
542/563 [===========================>..] - ETA: 0s - loss: 3016641024.0000 - root_mean_squared_error: 54923.9570INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 3ms/step - loss: 3013940736.0000 - root_mean_squared_error: 54899.3711 - val_loss: 3379815936.0000 - val_root_mean_squared_error: 58136.1836
Epoch 68/100
563/563 [==============================] - 1s 2ms/step - loss: 2987521792.0000 - root_mean_squared_error: 54658.2266 - val_loss: 3438782464.0000 - val_root_mean_squared_error: 58641.1328
Epoch 69/100
563/563 [==============================] - 1s 2ms/step - loss: 2968526592.0000 - root_mean_squared_error: 54484.1875 - val_loss: 3593621504.0000 - val_root_mean_squared_error: 59946.8242
Epoch 70/100
563/563 [==============================] - 1s 2ms/step - loss: 2967206656.0000 - root_mean_squared_error: 54472.0703 - val_loss: 3572868096.0000 - val_root_mean_squared_error: 59773.4727
Epoch 71/100
563/563 [==============================] - 1s 2ms/step - loss: 2973966080.0000 - root_mean_squared_error: 54534.0820 - val_loss: 3396590080.0000 - val_root_mean_squared_error: 58280.2734
Epoch 72/100
563/563 [==============================] - 1s 2ms/step - loss: 2952903936.0000 - root_mean_squared_error: 54340.6289 - val_loss: 3456822784.0000 - val_root_mean_squared_error: 58794.7500
Epoch 73/100
563/563 [==============================] - 1s 2ms/step - loss: 2951537920.0000 - root_mean_squared_error: 54328.0586 - val_loss: 3601401088.0000 - val_root_mean_squared_error: 60011.6758
Epoch 74/100
563/563 [==============================] - 1s 2ms/step - loss: 2965588480.0000 - root_mean_squared_error: 54457.2188 - val_loss: 3435890176.0000 - val_root_mean_squared_error: 58616.4648
Epoch 75/100
553/563 [============================>.] - ETA: 0s - loss: 2946777088.0000 - root_mean_squared_error: 54284.2266INFO:tensorflow:Assets written to: models/medium_nn/assets
563/563 [==============================] - 2s 4ms/step - loss: 2953679872.0000 - root_mean_squared_error: 54347.7695 - val_loss: 3358518272.0000 - val_root_mean_squared_error: 57952.7227
Epoch 76/100
563/563 [==============================] - 1s 2ms/step - loss: 2929968896.0000 - root_mean_squared_error: 54129.1875 - val_loss: 3489758464.0000 - val_root_mean_squared_error: 59074.1758
Epoch 77/100
563/563 [==============================] - 1s 2ms/step - loss: 2904577536.0000 - root_mean_squared_error: 53894.1328 - val_loss: 3616086528.0000 - val_root_mean_squared_error: 60133.9062
Epoch 78/100

In [28]:
from tensorflow.keras.models import load_model

medium_nn = load_model('models/medium_nn')
mse(medium_nn.predict(X_train), y_train, squared=False), mse(medium_nn.predict(X_val), y_val, squared=False)

(51557.70370991366, 56394.784570096585)

In [29]:
#Final product
mse(gbr.predict(X_test), y_test, squared=False)

49343.434683046544